
/* css */




/* the following are for the green border */
#Task, #Screenshot, #table, #discussion, #Usability-Test-Box{
  border: solid;
  border-color: #5AFFB5;
  border-width: 5px;
}

/* this p is for "Task" "Results" and "Discussion" texts */
p{
  font-family: Calibri ,sans-serif;
  font-size: 40px;
  text-align: center;
  color: #5AFFB5;
  font-weight: bold;
}


/* row 1 here */
#block-1{
  background-color: #2E3740;
  height: 100px;
}

/* row 2 here */
#row-2{
  margin-top:12px;
  margin-bottom: 12px;
}

#block-2 {
  background-color: #4C5359;
  height: 100px;
}

#block-3{
  background-color: #798C8A;
  height: 100px;
  margin-top: 12px;
}

#Usability-Test{
  font-family: Calibri ,sans-serif;
  font-size: 45px;
  text-align: center;
  color: #5AFFB5;
  font-weight: bold;
  margin: 10%;
}

/* row 3 here */
#list{
  margin: 5%;
}
ol{
  color:white;
  font-size: 20px;
  align-items: center;
}
li{
  border: 1px solid white;
}

#screenshot{
  width: 100%;
}

/* row 4 here */
table, th, td {
  margin: 5%;
  color: white;
  border: 2px solid #5AFFB5;
  font-size: 100%;
}

/* row 5 here */
#discussion-text{
  font-size: 20px;
  color: white;
  text-align: left;
  font-weight: normal;
}

footer{
  color:white;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}

/* for xs */
@media (max-width: 575.98px) {
  #Usability-Test{
    font-size: 35px;
  }
  p{
    font-size: 30px;
  }
  #row-1{
    display: none;
  }
  table, #discussion-text{
    font-size: 10px;
  }
  #discussion-text{
    font-size: 15px;
  }
  li{
    font-size: 15px;
  }

}
/* for xxs */
@media (max-width: 340px) {
  #Usability-Test{
    font-size: 30px;
  }
  p{
    font-size: 25px;
  }
  #row-1{
    display: none;
  }
  table{
    font-size: 5px;
  }
  li{
    font-size: 10px;
  }
}
